@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

html {
    font-family: 'Chakra Petch';
    font-size: 22pt;
}

body {
    margin: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 800px;
    background-color: #eee;
}

h1 {
    text-align: center;
}

img {
    max-width: 600px;
    margin-left: 75px;
}