



html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 765px;
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 10px;
}

/* td, tr {
    max-width: 50px;
    height: 100px;
    border: 3px solid;
    background-color: #c7c7c7;
    border-color: rgb(43, 43, 43);
    border-spacing: 5px;
    font-size: 20px;
} */




h1 {
    color: beige;
    padding-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span, h3 {
    color: orange;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
}




.small {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(46, 46, 46);
}

.big {
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(32, 32, 32);
}

canvas {
    max-width: 700px;
}

p {
    max-width: 700px;
    word-wrap: break-word;
}

.masivparads {
    border: 1px dashed orange;
    background-color: rgba(255, 138, 42, 0.1);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}