a:link, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:hover, a:active {
    color: rgb(0, 0, 0);
    text-decoration: wavy;
}

h1 {
    padding: 30px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td, tr {
    max-width: 50px;
    height: 100px;
    border: 3px solid;
    background-color: #c7c7c7;
    border-color: rgb(43, 43, 43);
    border-spacing: 5px;
    font-size: 20px;
}

td:hover {background-color: #777777;}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
}

body {
    background-color: #576e91;
    background-image: url('fir.gif');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
}

.uguns {
    min-height: 200px;
    position: absolute;
    bottom: 0;
}

iframe {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    min-width: 854px;
    min-height: 480px;
}

canvas {
    background-color: #4a5d7a;
    border: 2px dashed black;
}

.center {
    display: flex;
    justify-content: center;
}